---
import Layout from '../layouts/Layout.astro';
import MvSec from "../components/project/MvSection.astro";
---

<Layout title="Welcome to Astro.">
	<main id="main" class="l-main">
		<MvSec />
	</main>
</Layout>

<script>
	const fuga:string = "fugaLog";
	console.log(fuga)
</script>

<style lang="scss">

</style>
